<h1 mat-dialog-title>Attention !!</h1>
<div mat-dialog-content>
    Would you like to <strong> {{value}} </strong> ?
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close *ngIf="vendorId>0" (click)="reject(vendorId,'Reject')">No</button>
    <button mat-button mat-dialog-close *ngIf="vendorId>0" (click)="accept(vendorId,'Accept')">Ok</button>

    <button mat-button mat-dialog-close *ngIf="userId>0" (click)="reject(userId,'Reject')">No</button>
    <button mat-button mat-dialog-close *ngIf="userId>0" (click)="accept(userId,'Accept')">Ok</button>
</div>